  <!-- Modal -->
  <div class="modal fade" id="cambiarPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Cambiar contrasena</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <form action="{% url 'usuario_app:cambiar_password' usuario.pk %}"method="POST" class="cell"> {% csrf_token %} --> 
          <form action="#" method="POST" class="cell"> {% csrf_token %}
            <div class="row">
               
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Contrasena Actual</label>
                   <!-- {{form.password1}} -->
                    <input type="password" class="form-control" id="password1" placeholder="Contrasena Actual">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Confirmar Nueva</label>
                    <!-- {{form.password2}} -->
                    <input type="password" class="form-control" id="password2" placeholder="Contrasena Nueva">
                </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Aceptar</button>

        </form>
      </form>
        </div>
      </div>
    </div>
  </div>
